*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass, sans-serif;
}

.navbar{
    /* background-color: rgb(70, 147, 147); */
    display: flex;
    height: 55px;
    width: 100%;
    padding: 10px 50px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 48px 6px #1e2e4720;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
}

.logo-img-container{
    width: 150px;
    /* background-color: aliceblue; */
}

.logo-img-container:hover{
    cursor: pointer;
}

.logo-img{
    width: 100%;
}

.option-container{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.options{
    display: flex; 
}

.options-list{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.item:hover{
    color: #727cf5;
    cursor: pointer;
}

.left{
    display: flex;
    width: 450px;
    /* background-color: aqua; */
    justify-content: space-between;
}

.right{
    display: flex;
    width: 450px;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
}

.search-container{
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
    padding: 5px 10px;
    border-radius: 40px;
    background-color: #f8f8f8;
    color: #7987a1;
}

.search-box{
    font-size: 14px;
    border: none;
    /* color: #7987a1; */
    width: 250px;
    background-color: rgba(0, 0, 0, 0);
}
.search-box:focus{
    outline: none;
}

.search-container:focus-within{
    border: 1px solid #727cf5;;
}

.login{
    text-decoration: none;
    font-size: 16px;
}

.login:hover{
    color: #727cf5;
    cursor: pointer;
}

.btn{
    border: 1px solid #727cf5;;
    color: #727cf5;;
    padding: 10px 5px;
    background-color: transparent;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 5px;
}

.btn:hover{
    background-color: #727cf5;
    color: white;
    cursor: pointer;
}

.help-box{
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: #727cf5;
    color: white;
    padding: 10px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.help-box:hover{
    padding: 12px 15px;
    box-shadow: 1px 4px 9px -1px rgb(137 137 137 / 66%);
}

.help{
    font-weight: 700;
    font-size: 14px;
    
}

.hero{
    display: flex;
    margin: 55px auto;
    height: 300vh;
    width: 1200px;
    /* background-color: yellow; */
    padding: 0 40px;
    /* justify-content: center; */
    /* gap: 20px; */
    /* position: relative; */
}

.aside{
    background-color: #f4f4f4;
    margin: 40px 0;
    height: 120vh;
    width: 14%;
    position: sticky;
    top: 70px;
}

.main{
    background-color: white;
    width: 70%;
    padding: 50px 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.header{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}

.content{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.box{
    width: 95%;
    height: 100px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
}

.upload-box{
    width: 97%;
    height: 300px;
    background-color: #f4f4f4;
    border: 3px dashed #bec0da;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn-upload{
    margin-bottom: 10px;
    display: flex;
    gap: 1px;
}

.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 5px;
    background-color: #727cf5;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 5px 8px 19px -2px #929af5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropdown{
    box-shadow: 1px 5px 19px -2px #929af5;
    background-color: #727cf5;
    color: white;
    border: none;
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.upload-box h5{
    font-weight: 100;
    margin-bottom: 15px;
}

.upload-box h5 a{
    color: #727cf5;
    cursor: pointer;
}

.upload-box p{
    color: #7987a1;
    font-size: small;
}

.upload-box p a{
    color: #7987a1;
}

.use-case-box{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid gray; */
    padding: 50px 0;
    gap: 30px;
    text-align: justify;
    box-shadow: 2px 2px 48px 6px rgb(230 230 230);
    margin-bottom: 20px;
    border-radius: 5px;
}

.row1 td{
    text-align: center;
    /* border: 1px solid red; */
    
}

.row2 td{
    text-align: center;
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 600;
    vertical-align: text-top;
}

.row3 td{
    vertical-align: text-top;
    font-size: 15px;
    font-weight: 300;
    color: #282f3a;
    line-height: 24px;
    font-family: Overpass, sans-serif;
    /* letter-spacing: 1px; */
    text-align: justify;
}

/* table, tr, td{
    border: 1px solid red;
    width: 33%;
} */

table{
    border-spacing: 31px;
    /* table-layout: fixed; */
}

.customers-love{
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 48px 6px rgb(230 230 230);
    margin-bottom: 40px;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
}

.security{
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 48px 6px rgb(230 230 230);
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 5px;
    
}

.description{
    width: 65%;
}

.description h2{
    font-size: 22px;
    margin-bottom: 20px;
}

.description p{
    font-size: 14px;
    letter-spacing: .5px;
    color: #282f3a;
    margin-bottom: 40px;
    line-height: 24px;
}

.security-btn{
    border: 1px solid #727cf5;;
    color: #727cf5;;
    padding: 15px 20px;
    background-color: transparent; 
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.security-methods{
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.method{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.method h3{
    font-size: 15px;
    text-align: left;
    line-height: 24px;
    color: #282f3a;
}

.footer{
    background-color: #1e2e47;
    color: white;
    padding: 150px 100px 50px;
}

.site-map{
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    padding: 10px;
}

.site-map div{
    display: flex;
    gap: 20px;
    flex-direction: column;   
    /* border: 1px solid red; */

}

.site-map div h3{
    font-size: 16px;
    font-weight: 300;
    /* flex-basis: fit-content; */
}

.site-map div a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    /* flex-basis: fit-content; */
}

.info{
    display: flex;
    gap: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.copyright-section{
    border-top: 1px solid #89919d46;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright{
    color: #89919d;
    font-size: 13px;
    letter-spacing: 1px;
}

.copyright a{
    color: #89919d;
}

.language{
    display: flex;
    color: #89919d;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}